/* Coomon */

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSana-Regular'),
		url('../fonts/OpenSans-Regular.woff2') format('woff2'),
		url('../fonts/OpenSans-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSana-SemiBold'),
		url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
		url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSana-Bold'),
		url('../fonts/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/OpenSans-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

* {
  box-sizing: border-box;
  outline: 0;
}

*:focus-visible {
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'OpenSans', sans-serif;
}

:root {
  --main-text-color: #333;
  --alt-main-text-color: #FFF;
  --added-text-color: #999;
  --effect-color: #C283F3;
  --active-color: #7943A4;
  --btn-color: #9D5CD0;
  --light-btn-color: #D1A9F0;
  --alert-color: #D11616;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-reset {
  margin: 0;
  padding: 0;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1920px;
  padding-left: 160px;
  padding-right: 160px;
  margin: 0 auto;
}

.inline-link {
  position: relative;
  color: var(--effect-color);
  background-color: transparent;
  transition: color .4s ease;
  z-index: 2;
}

.inline-link:before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  z-index: -1;
  transition-property: border-bottom-color, background-color;
  transition-duration: .4s;
  transition-timing-function: ease;
}

.inline-link:hover:not(:focus-visible) {
  color: var(--btn-color);
}

.inline-link:active:not(:focus-visible) {
  color: var(--active-color);
}

.inline-link:focus-visible {
  color: var(--alt-main-text-color);
}

.inline-link:focus-visible:before {
  background-color: var(--btn-color);
}

.inline-link:hover:not(:focus-visible):before {
  border-bottom-color: var(--btn-color);
}

.inline-link:active:not(:focus-visible):before {
  border-bottom-color: var(--active-color);
}

.link-effects {
  position: relative;
  transition: color .4s ease;
  z-index: 2;
}

.link-effects:before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background-color: var(--active-color);
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease;
}

.link-effects:focus-visible:before {
  opacity: 1;
}

.link-effects:hover:not(:focus-visible) {
  color: var(--effect-color);
}

.link-effects:active:not(:focus-visible) {
  color: var(--active-color);
}

.btn-effects {
  position: relative;
  z-index: 2;
  transition-property: border-color, background-color, color;
  transition-duration: .4s;
  transition-timing-function: ease;
}

.btn-effects:before {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  border: 2px solid var(--effect-color);
  opacity: 0;
  border-radius: 100px;
  transition: opacity .4s ease;
}

.btn-effects:focus-visible:before {
  opacity: 1;
}

.btn-effects:hover:not(:focus-visible) {
  border-color: var(--light-btn-color);
}

.btn-effects:active:not(:focus-visible) {
  border-color: var(--light-btn-color);
  background-color: var(--active-color);
}

.btn-icon {
  width: 100%;
  height: 100%;
}

.section-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 15px;
}

.section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  max-width: 1082px;
}

.nav-btn {
  transition-property: stroke, fill;
  transition-duration: .4s;
  transition-timing-function: ease;
}

/* Header */

.header {
  position: relative;
  margin-bottom: 80px;
}

.header__body {
  position: relative;
  background-color: #000;
}

.header__top-container {
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--alt-main-text-color);
  align-items: center;
  position: relative;
}

.burger {
  display: none;
}

.burger rect,
.burger path,
.burger__close rect,
.search__open rect,
.search__open path,
.search__submit rect,
.search__submit path {
  transition: fill .4s ease;
}

.burger:focus-visible rect,
.burger:focus-visible path,
.burger__close:focus-visible rect,
.search__open:focus-visible rect,
.search__open:focus-visible path,
.search__submit:focus-visible rect,
.search__submit:focus-visible path {
  fill: var(--btn-color);
}

.burger:hover:not(:focus-visible) rect,
.burger:hover:not(:focus-visible) path,
.burger__close:hover:not(:focus-visible) rect,
.search__open:hover:not(:focus-visible) rect,
.search__open:hover:not(:focus-visible) path,
.search__submit:hover:not(:focus-visible) rect,
.search__submit:hover:not(:focus-visible) path {
  fill: var(--btn-color);
}

.burger:active:not(:focus-visible) rect,
.burger:active:not(:focus-visible) path,
.burger__close:active:not(:focus-visible) rect,
.search__open:active:not(:focus-visible) rect,
.search__open:active:not(:focus-visible) path,
.search__submit:active:not(:focus-visible) rect,
.search__submit:active:not(:focus-visible) path {
  fill: var(--active-color);
}

.burger-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, .9);
  color: var(--alt-main-text-color);
  z-index: 50;
  transform: translate(-150%, 0);
  transition: transform .4s ease-in-out;
}

.burger-menu_active {
  transform: translate(0, 0);
}

.burger-menu__title {
  padding: 37px 0 30px 0;
}

.burger-menu__items {
  margin-bottom: 73px;
}

.burger-menu__item {
  font-weight: 600;
  font-size: 24px;
  line-height: 64px;
}

.burger-menu__login {
  align-self: start;
  padding: 19px 88px 22px 88px;
  border-radius: 100px;
  border: 2px solid var(--btn-color);
  color: var(--alt-main-text-color);
  font-weight: 600;font-size: 18px;
  line-height: 24.5px;
}

.logo {
  width: 173px;
  height: 40px;
  margin-right: 179px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.main-menu {
  max-width: 896px;
  width: 56%;
}

.main-menu__items {
  width: 100%;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.main-menu__item:not(:last-child) {
  margin-right: 10px;
}

.login {
  font-weight: 400;
  font-size: 18px;
  margin-left: auto;
}

.login-img {
  width: 13px;
  height: 13px;
  margin-right: 3px;
}

.login-img path {
  transition: fill .4s ease;
}

.search-open {
  display: none;
}

.link-effects:hover:not(:focus-visible) .login-img path {
  fill: var(--effect-color);
}

.link-effects:active:not(:focus-visible) .login-img path {
  fill: var(--active-color);
}

.search-form {
  justify-content: flex-end;
  align-self: end;
  align-items: flex-end;
  width: 25%;
}

.search-form__submit {
  width: 22px;
  height: 22px;
  margin-right: 9px;
}

.search-form__field {
  max-width: 218px;
  padding: 0;
}

.header__bottom-container {
  padding-top: 22px;
  padding-bottom: 22px;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 10;
}

.bottom-container {
  width: 100%;
  justify-content: space-between;
}

.genres-menu {
  width: 64.5%;
}

.genres-menu__items {
  width: 100%;
  justify-content: space-between;
  color: var(--alt-main-text-color);
  font-weight: 400;
  font-size: 18px;
}

.genres-menu__item {
  position: relative;
}

.genres-menu__item:not(:last-child) {
  margin-right: 10px;
}

.genres-menu__button {
  align-items: center;
}

.genres-menu__button .btn-arrow {
  margin-top: 4px;
}

.genres-menu__button_active .btn-arrow {
  transform: rotate(180deg);
}

.btn-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--alt-main-text-color);
  margin-right: 3px;
  transition: color .4s ease;
}

.genres-menu__button:hover:not(:focus-visible) .btn-title{
  color: var(--effect-color);
}

.genres-menu__button:active:not(:focus-visible) .btn-title{
  color: var(--active-color);
}

.btn-arrow path {
  transition: stroke .4s ease;
}

.btn-arrow {
  transition: transform .4s ease;
}

.genres-menu__button:hover:not(:focus-visible) .btn-arrow path {
  stroke: var(--effect-color);
}

.genres-menu__button:active:not(:focus-visible) .btn-arrow path {
  stroke: var(--active-color);
}

.genres-menu__button:active:not(:focus-visible) .btn-arrow {
  transform: rotate(180deg);
}

.submenu {
  width: 300px;
  padding: 40px 19px 40px 40px;
  position: absolute;
  top: 186%;
  background-color: rgba(0, 0, 0, .4);
  display: none;
}

.submenu-active {
  display: block;
}

.submenu__items {
  width: 100%;
  height: 224px;
  padding-right: 19px;
}

.submenu__item {
  position: relative;
  min-height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.submenu__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid transparent;
  padding: 9px 14px;
  transition-property: border-color, background-color;
  transition-duration: .4s;
  transition-timing-function: ease;
}

.submenu__link:focus-visible {
  border-color: var(--btn-color);
}

.submenu__link:hover:not(:focus-visible) {
  border-color: var(--btn-color);
}

.submenu__link:active:not(:focus-visible) {
  background-color: rgba(194, 131, 243, .4);
  border-color: var(--light-btn-color);
}

.submenu__item:not(:last-child) {
  margin-bottom: 20px;
}

.submenu__item_bg-1 {
  background-image: url('../img/sub-1-bg-1.png');
}

.submenu__item_bg-2 {
  background-image: url('../img/sub-1-bg-2.png');
}

.submenu__item_bg-3 {
  background-image: url('../img/sub-1-bg-3.png');
}

.submenu__item_bg-4 {
  background-image: url('../img/sub-1-bg-4.png');
}

.submenu__item_bg-5 {
  background-image: url('../img/sub-2-bg-1.png');
}

.submenu__item_bg-6 {
  background-image: url('../img/sub-2-bg-2.png');
}

.submenu__item_bg-7 {
  background-image: url('../img/sub-2-bg-3.png');
}

.submenu__item_bg-8 {
  background-image: url('../img/sub-2-bg-4.png');
}

.submenu__item_bg-9 {
  background-image: url('../img/sub-3-bg-1.png');
}

.submenu__item_bg-10 {
  background-image: url('../img/sub-3-bg-2.png');
}

.submenu__item_bg-11 {
  background-image: url('../img/sub-3-bg-3.png');
}

.submenu__item_bg-12 {
  background-image: url('../img/sub-3-bg-4.png');
}

.submenu__item_bg-13 {
  background-image: url('../img/sub-4-bg-1.png');
}

.submenu__item_bg-14 {
  background-image: url('../img/sub-4-bg-2.png');
}

.submenu__item_bg-15 {
  background-image: url('../img/sub-4-bg-3.png');
}

.submenu__item_bg-16 {
  background-image: url('../img/sub-4-bg-4.png');
}

.submenu__item_bg-17 {
  background-image: url('../img/sub-5-bg-1.png');
}

.submenu__item_bg-18 {
  background-image: url('../img/sub-5-bg-2.png');
}

.submenu__item_bg-19 {
  background-image: url('../img/sub-5-bg-3.png');
}

.submenu__item_bg-20 {
  background-image: url('../img/sub-5-bg-4.png');
}

.submenu__items .simplebar-track.simplebar-vertical {
  background-color: #000;
  width: 2px;
}
.submenu__items .simplebar-scrollbar {
  width: 2px;
  background-color: var(--alt-main-text-color);
}

.search {
  display: none;
  opacity: 0;
  transform: scale(0, 0);
  transition: transform .4s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.search_active {
  opacity: 1;
  transform: scale(1, 1);
}

.search-form__icon {
  margin-right: 9px;
}

.search-form__field {
  width: 83.5%;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--alt-main-text-color);
  color: var(--alt-main-text-color);
  font-weight: 400;
  font-size: 18px;
  transition: border-bottom-color .4s ease;
}

.search-form__field::placeholder {
  color: var(--alt-main-text-color);
  opacity: 1;
}

.search-form__field:hover, .search-form__field:focus {
  border-bottom-color: var(--effect-color);
}

.search-form__field:active {
  border-bottom-color: var(--active-color);
}

/* Hero */

.hero {
  position: relative;
  word-wrap: break-word;
  background-color: var(--light-btn-color);
  overflow: hidden;
}

.hero .hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  animation: animatedSize 15s alternate ease-in-out infinite;
}

@keyframes animatedSize {
  0% { transform: scale(1) }
  100% { transform: scale(1.2) }
}

.hero__slide {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__slide:nth-child(1) {
  background-image: url('../img/hero-bg-1.png');
}

.hero__slide:nth-child(2) {
  background-image: url('../img/hero-bg-2.png');
}

.hero__slide:nth-child(3) {
  background-image: url('../img/hero-bg-3.png');
}

.hero__container {
  padding-top: 138px;
  padding-bottom: 122px;
  position: relative;
  z-index: 2;
  color: var(--alt-main-text-color);
}

.hero__text {
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  max-width: 597px;
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 20px;
}

.hero__description {
  max-width: 579px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 92px;
}

.hero__btn {
  padding: 21px 34px;
  background-color: var(--btn-color);
  color: var(--alt-main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  border-radius: 100px;
  border: 3px solid var(--btn-color);
}

/* About */

.about {
  margin-bottom: 70px;
}

.about__container {
  color: var(--main-text-color);
}

/* Gallery */

.gallery {
  margin-bottom: 80px;
  color: var(--alt-main-text-color);
  background-color: var(--light-btn-color);
  background-image: url('../img/gallery-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.gallery__panel {
  flex-direction: column;
  margin-right: 50px;
  justify-content: space-between;
  width: 26%;
}

.gallery__title {
  margin-bottom: 20px;
}

.filter-label {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}

.choices {
  width: 100%;
  max-height: 40px;
  padding-left: 5px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--alt-main-text-color);
  color: var(--alt-main-text-color);
  transition: background-color .4s ease;
}

.choices__inner {
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.choices__list {
  background: transparent;
}

.choices__list--dropdown {
  border: 1px solid var(--added-text-color);
  border-radius: 5px;
  left: 0;
  color: var(--added-text-color);
}

.choices__list--dropdown .choices__item {
  font-size: 16px;
  padding-left: 20px;
}

.choices__item:not(:last-child) {
  border-bottom: 1px solid #999;
}

.choices__item + .choices__item.is-selected {
  border-bottom-color: transparent;
}

.choices__item.is-selected {
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--alt-main-text-color);
}

.choices[data-type*=select-one]:after {
  height: 8px;
  width: 8px;
  z-index: 3;
  top: 40%;
  border: 1px solid var(--alt-main-text-color);
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);
}

.choices[data-type*=select-one].is-open:after {
  top: 60%;
  border: 1px solid var(--alt-main-text-color);
  border-width: 1px 1px 0 0;
}

.choices:focus-visible {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices:hover:not(:focus-visible) {
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery__ages {
  align-self: start;
  flex-direction: column;
  align-items: flex-start;
}

.gallery__age {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  align-items: center;
}

.age-label {
  position: relative;
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;
  transition: color .4s ease;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.custom-checkbox + span {
  position: relative;
  text-align: center;
  background-color: transparent;
  border: 1px solid var(--alt-main-text-color);
  margin-right: 12px;
  width: 12px;
  height: 12px;
  transition: border-color .4s ease-in-out;
}

.custom-checkbox + span:before {
  content: '\2022';
  font-size: 16px;
  position: absolute;
  left: 0;
  right: 0;
  top: -110%;
  bottom: -110%;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.label-text {
  transition: color .4s ease;
}

.custom-checkbox:checked + span {
  color: var(--effect-color);
  border-color: var(--effect-color);
}

.custom-checkbox:checked + span:before {
  opacity: 1;
  border-color: var(--effect-color);
}

.custom-checkbox:checked + span + .label-text {
  color: var(--effect-color);
}

.custom-checkbox:not(:checked):focus-visible + span {
  border-color: var(--effect-color);
  color: var(--effect-color);
}

.custom-checkbox:not(:checked):focus-visible + span + .label-text {
  color: var(--effect-color);
}

.custom-checkbox:not(:focus-visible):hover + span,
.custom-checkbox:not(:checked):hover + span {
  border-color: var(--effect-color);
  color: var(--effect-color);
}

.custom-checkbox:not(:focus-visible):hover + span + .label-text,
.custom-checkbox:not(:checked):hover + span + .label-text {
  color: var(--effect-color);
}

.custom-checkbox:not(:checked):active + span:before {
  opacity: 1;
  color: var(--effect-color);
}

.gallery__swiper {
  width: 75%;
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.gallery__swiper .gallery__wrapper {
  height: 350px;
}

.gallery__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.gallery__slide {
  width: calc((100% - 100px) / 3);
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: -2;
  outline-offset: 3px;
  transition: outline .4s ease;
}

.gallery__slide:before {
  content: "";
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  background-color: rgba(0, 0, 0, .4);
  background-image: url("../img/zoom.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity .4s ease;
  z-index: 2;
}

.gallery__slide:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--effect-color);
  opacity: 0;
  transition: opacity .4s ease;
  z-index: 0;
}

.gallery__slide:focus-visible {
  outline: 2px solid var(--btn-color);
}

.gallery__slide:hover:not(:focus-visible):before {
  opacity: 1;
}

.gallery__slide:active:not(:focus-visible):after {
  opacity: .4;
}

.gallery__btns {
  max-width: 134px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.gallery__btn {
  width: 34px;
  height: 34px;
}

.gallery__prev-btn {
  margin-right: 11px;
}

.gallery__btn.swiper-button-disabled,
.gallery__btn.swiper-button-disabled {
  cursor: not-allowed;
}

.gallery__prev-btn.swiper-button-disabled .nav-btn,
.gallery__next-btn.swiper-button-disabled .nav-btn {
  opacity: .4;
}

.gallery__btn:focus-visible .nav-btn {
  stroke: #000;
}

.gallery__btn:hover:not(:focus-visible) .nav-btn {
  fill: var(--btn-color);
}

.gallery__btn:active:not(:focus-visible) .nav-btn {
  fill: var(--active-color);
  stroke: #000;
}

.gallery__pagination {
  padding: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-right: 11px;
}

/* Catalogue */

.catalogue {
  margin-bottom: 80px;
}

.catalogue__container {
  padding: 0 160px;
}

.catalogue__title {
  margin-bottom: 17px;
}

.catalogue__description {
  margin-bottom: 38px;
}

.catalogue__body {
  justify-content: space-between;
}

.painter-detail {
  display: none;
  width: calc(100% / 2 - 50px);
  height: 100%;
  padding: 0;
  color: var(--main-text-color);
  margin-right: 50px;
}

.painter-detail_active {
  display: block;
}

.painter-detail__img {
  width: 100%;
  height: 100%;
  margin-bottom: 28px;
}

.painter-detail__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.painter-detail__years {
  color: #999;
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
}

.painter-detail__description {
  max-width: 750px;
}

.painter-detail__empty {
  margin-bottom: 15px;
}

.catalogue__ages {
  width: calc(100% / 2);
}

.accordion {
  width: 100%;
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  line-height: 32px;
}

.ui-accordion .ui-accordion-header {
  margin: 0;
  margin-top: -1px;
  padding: 0;
  font-size: 24px;
  line-height: 32px;
  border: none;
  background-color: transparent;
}

.ui-accordion-header-active {
  color: var(--active-color);
}

.ui-accordion .ui-accordion-content {
  border: none;
  margin: 0;
  padding: 25px 0 22px 0;
  position: relative;
  max-height: 345px;
}

.accordion__tab.ui-accordion-content-active {
  border-bottom: 1px solid #CACACA;
}

.ui-accordion-header.ui-state-hover + .ui-accordion-header .accordion__btn,
.ages__item:active + .ages__item .ages__header .ages__btn {
  border-top-color: transparent;
}

.ui-accordion-header.ui-state-hover,
.ui-accordion-header.ui-state-active {
  z-index: 1;
}

.accordion__header {
  margin-top: -1px;
}

.accordion__icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  transition-property: transform, outline;
  transition-duration: .4s;
  transition-timing-function: ease;
}

.accordion__icon path {
  transition: fill .4s ease;
}

.ui-state-active .accordion__icon {
  transform: rotate(-180deg);
  border: 2px solid var(--btn-color);
}

.ui-state-active .accordion__btn {
  border-top: 1px solid var(--active-color);
  border-bottom: 1px solid var(--active-color);
}

.ui-state-active .title-text {
  color: var(--active-color);
}

.ui-state-active .accordion__icon path{
  fill: var(--light-btn-color);
}

.ages__item {
  margin: 0;
  margin-top: -1px;
}

.title-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  transition: color .4s ease;
}

.accordion__btn {
  width: 100%;
  height: 100%;
  padding: 30px 0 33px 0;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  transition-property: border-top-color, border-bottom-color;
  transition-duration: .4s;
  transition-timing-function: ease;
  z-index: 0;
}

.accordion__btn:focus-visible .title-text{
  background-color: var(--btn-color);
  color: var(--alt-main-text-color);
}

.accordion__btn:focus-visible .accordion__icon path {
  fill: var(--light-btn-color);
}

.accordion__btn:hover:not(:focus-visible) {
  border-top-color: var(--btn-color);
  border-bottom-color: var(--btn-color);
}

.accordion__btn:hover:not(:focus-visible) .title-text{
  color: var(--btn-color);
}

.accordion__btn:hover:not(:focus-visible) .accordion__icon path {
  fill: var(--light-btn-color);
}

.accordion__btn:active:not(:focus-visible) {
  border-top-color: var(--active-color);
  border-bottom-color: var(--active-color);
}

.accordion__btn:active:not(:focus-visible) .title-text{
  color: var(--active-color);
}

.accordion__btn:active:not(:focus-visible) .accordion__icon path {
  fill: var(--light-btn-color);
}

.accordion__btn:active:not(:focus-visible) .accordion__icon {
  border: 2px solid var(--btn-color);
  transform: rotate(-180deg);
}

.painter__item {
  margin-right: 60px;
}

.painter {
  flex-direction: column;
  flex-wrap: wrap;
}

.painter__button {
  position: relative;
  padding-left: 2px;
  color: var(--main-text-color);
  cursor: pointer;
  z-index: 0;
  transition-property: color, border-bottom-color, background-color;
  transition-duration: .4s;
  transition-timing-function: ease;
}

.painter__button:before {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  left: -2px;
  z-index: -1;
  border-bottom: 1px solid transparent;
  transition-property: border-bottom-color, background-color;
  transition-duration: .4s;
  transition-timing-function: ease;
}

.painter__button:focus-visible {
  color: var(--alt-main-text-color);
}

.painter__button:focus-visible:before {
  background-color: var(--btn-color);
}

.painter__button:not(:focus-visible):hover {
  color: var(--btn-color);
}

.painter__button:not(:focus-visible):hover:before {
  border-bottom-color: var(--btn-color);
}

.painter__button:not(:focus-visible):active {
  color: var(--active-color);
}

.painter__button:not(:focus-visible):active:before {
  border-bottom-color: transparent;
}

.tab-active {
  color: var(--active-color);
}

.pseudo__border {
  width: 275px;
  height: 189px;
  border: 2px solid #B7B7B7;
  padding: 12px;
  margin-right: 24px;
}

.pseudo__picture {
  width: 100%;
  height: 100%;
  background-color: #B7B7B7;
}

.pseudo__painter {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 5px;
}

.pseudo__description {
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
}

.ui-widget-content .gallery-link {
  display: block;
  max-width: 84px;
  color: var(--active-color);
}

/* Events */

.events {
  margin-bottom: 82px;
}

.events__container {
  color: var(--main-text-color);
}

.events__main-title {
  margin-bottom: 18px;
}

.events__swiper {
  width: 100%;
}

.events__swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.events__item {
  flex-direction: column;
  height: auto;
}

.events__cover {
  height: 300px;
  width: 100%;
}

.events__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.events__content {
  padding: 13px 50px 48px 50px;
  height: 100%;
  flex-direction: column;
  border-right: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  border-left: 1px solid #CACACA;
}

.events__location {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999;
  margin-bottom: 13px;
}

.events__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.events__prompt {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-text-color);
  margin-bottom: 65px;
}

.link-box {
  margin-top: auto;
  position: relative;
  display: block;
  align-self: start;
  color: var(--btn-color);
  transition: color .4s ease;
}

.link-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -5px;
  left: 0;
  z-index: -1;
  border-bottom: 1px solid var(--btn-color);
  transition: border-bottom-color .4s ease;
}

.link-box::after {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -12px;
  left: -8px;
  z-index: -2;
  background-color: var(--btn-color);
  opacity: 0;
  transition: opacity .4s ease;
}

.link-box:focus-visible {
  color: var(--alt-main-text-color);
}

.link-box:focus-visible::before {
  border-bottom-color: var(--alt-main-text-color);
}

.link-box:focus-visible::after {
  opacity: 1;
}

.link-box:hover:not(:focus-visible) {
  color: var(--active-color);
}

.link-box:hover:not(:focus-visible)::before {
  border-bottom-color: var(--active-color);
}

.link-box:active:not(:focus-visible) {
  color: var(--main-text-color);
}

.link-box:active:not(:focus-visible)::before {
  border-bottom-color: var(--main-text-color);
}

.events__wrapper {
  position: relative;
}

.pagination-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
}

.events__pagination {
  position: relative;
}

.pagination-wrapper .swiper-pagination-horizontal {
  bottom: 0;
  left: calc(50% - 30px);
}

.pagination-wrapper .swiper-pagination-horizontal .swiper-pagination-bullet {
  margin: 0;
  width: 10px;
  height: 10px;
}

.pagination-wrapper .swiper-pagination-horizontal .swiper-pagination-bullet:not(:last-child) {
  margin-right: 15px;
}

.pagination-wrapper .swiper-pagination-bullet-active {
  background: #666;
}

.events__btn {
  position: absolute;
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  z-index: 10;
}

.events__btn:focus-visible .nav-btn {
  stroke: var(--btn-color);
}

.events__btn:hover:not(:focus-visible) .nav-btn {
  fill: var(--light-btn-color);
}

.events__btn:active:not(:focus-visible) .nav-btn {
  fill: var(--light-btn-color);
  stroke: var(--btn-color);
}

.events__button-prev.swiper-button-disabled,
.events__button-next.swiper-button-disabled {
  display: none;
}

.events__button-prev {
  left: -25px;
}

.events__button-next {
  right: -25px;
}

/* Projects */

.projects {
  margin-bottom: 80px;
}

.projects__container {
  color: var(--main-text-color);
}

.projects__description {
  margin-bottom: 20px;
}

.tool-tip {
 cursor: pointer;
}

.tool-tip__body, .tool-tip__symbol {
  transition: fill .4s ease;
}

.tooltip-btn:focus-visible .tool-tip__body,
.tooltip-btn:hover:not(:focus-visible) .tool-tip__body {
  fill: var(--light-btn-color);
}

.tooltip-btn:active:not(:focus-visible) .tool-tip__body {
  fill: var(--btn-color);
}

.tooltip-btn:active:not(:focus-visible) .tool-tip__symbol {
  fill: var(--alt-main-text-color);
}

.tippy-box[data-theme~='main-theme'] {
  font-family: 'OpenSans', sans-serif;
  padding: 8px 11px;
  background-color: #9D5CD0;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.tippy-content {
  max-width: 242px;
}

.tippy-box[data-theme~='main-theme'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #9D5CD0;
}
.tippy-box[data-theme~='main-theme'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #9D5CD0;
}
.tippy-box[data-theme~='main-theme'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #9D5CD0;
}
.tippy-box[data-theme~='main-theme'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #9D5CD0;
}

.partners__header {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 23px;
}

.partners__wrapper {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.partners__swiper {
  width: calc(100% - 60px);
  max-width: 1450px;
}

.partners__swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.partners__link {
  width: 100%;
  height: 150px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid #CACACA;
}

.freelands {
  padding: 44px 103px;
}

.ica {
  padding: 45px 60px;
}

.workhouse {
  padding: 48px 110px;
}

.wine1849 {
  padding: 40px 163px;
}

.hisox {
  padding: 33px 138px;
}

.camden {
  padding: 40px 99px;
}

.stassen {
  padding: 40px 82px;
}

.watts {
  padding: 35px 132px;
}

.esacm {
  padding: 44px 110px;
}

.partners__img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  opacity: .5;
  transition-property: opacity, filter;
  transition-duration: .4s;
  transition-timing-function: ease;
}

.partners__link:focus-visible,
.partners__link:active:not(:focus-visible) {
  border-color: var(--btn-color);
}

.partners__link:hover:not(:focus-visible) .partners__img,
.partners__link:active:not(:focus-visible) .partners__img {
  filter: none;
  opacity: 1;
}

.partners__item:focus, .partner__item:focus {
  border-color: #9D5CD0;
}

.partners__btn {
  width: 30px;
  height: 30px;
  z-index: 10;
}

.partners__btn.swiper-button-disabled {
  cursor: not-allowed;
}

.partners__btn.swiper-button-disabled .nav-btn {
  opacity: .4;
}

.partners__btn .nav-btn {
  transition: fill .4s ease;
}

.partners__btn:focus-visible .nav-btn {
  stroke: var(--btn-color);
}

.partners__btn:hover:not(:focus-visible) .nav-btn {
  fill: var(--light-btn-color);
}

.partners__btn:active:not(:focus-visible) .nav-btn{
  stroke: var(--btn-color);
  fill: var(--light-btn-color);
}

/* Contacts */

.contacts__container {
  border: 1px solid #CACACA;
}

.contacts__description {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  padding: 38px 160px;
  justify-content: space-between;
  align-items: center;
  color: var(--main-text-color);
}

.contacts__location {
  max-width: 256px;
  margin-right: 5px;
}

.contacts__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.contacts__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.callback {
  position: relative;
  align-items: flex-start;
  width: 57%;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}

.callback__input {
  max-width: 270px;
  width: 100%;
  border-radius: 100px;
  border: 1px solid var(--main-text-color);
  padding: 8px 24px;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin-right: 5px;
}

.callback__input:hover, .callback__input:focus {
  background-color: #EAEAEA;
}

.callback__btn {
  padding: 12px 35px;
  width: 100%;
  border-radius: 100px;
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
  font-weight: 700;
  font-size: 18px;
}

.callback__submit {
  display: none;
  position: absolute;
  top: -25px;
  left: calc(50% - 306px);
  color: #30BF39;
  font-weight: 700;
  font-size: 18px;
}

.callback__submit-active {
  display: block;
}

.js-validate-error-field {
  border-color: var(--alert-color);
}

.js-validate-error-label {
  position: absolute;
  top: -16px;
  left: 25px;
  color: var(--alert-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.social__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 5px;
}

.social__item {
  position: relative;
  width: 42px;
  height: 42px;
}

.social__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 21px;
  border: 1px solid transparent;
  transition: border-color .4s ease;
}

.social__item:not(:last-child) {
  margin-right: 18px;
}

.social__link .social__img {
  transition: fill-opacity .4s ease;
}

.social__link:focus-visible .social__img{
  fill-opacity: .5;
}

.social__link:hover:not(:focus-visible) .social__img{
  fill-opacity: .5;
}

.social__link:active:not(:focus-visible) {
  border-color: #9643A4;
}

.contacts__map {
  width: 100%;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(100%);
}

/* Footer */

.footer {
  background-color: #000;
}

.footer__container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 48px 160px;
  justify-content: space-between;
  align-items: center;
}

.footer__logo img {
  width: 100%;
  height: 100%;
}

.footer__link {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__link path {
  transition: fill .4s ease;
}

.footer__link:focus-visible path, .footer__link:hover:not(:focus-visible) path {
  fill: var(--alt-main-text-color)
}

.footer__link:active:not(:focus-visible) path {
  fill: #9D5CD0;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0,0, .6);
  overflow: hidden;
  opacity: 0;
  transition: opacity .4s ease-in-out;
  pointer-events: none;
}

.modal_active {
  opacity: 1;
  pointer-events: auto;
}

.modal__content {
  position: relative;
  margin: auto auto;
  width: 900px;
  height: 100%;
  max-height: 500px;
  background-color: var(--alt-main-text-color);
  overflow: auto;
}

.modal__img {
  width: 400px;
  background-image: url("../img/full-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal__info {
  width: 500px;
  padding: 121px 50px;
  flex-direction: column;
  justify-content: space-between;
  color: var(--main-text-color);
}

.modal__painter {
  font-weight: 600;
  font-size: 24px;
}

.modal__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.modal__years {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}

.modal__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal__close path {
  transition: fill .4s ease;
}

.modal__close:focus-visible path {
  fill: var(--btn-color);
}

.modal__close:hover:not(:focus-visible) path {
  fill: var(--btn-color);
}

.modal__close:active:not(:focus-visible) path {
  fill: var(--active-color);
}

@media (max-width: 1820px) {

  /* Common */

  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__top-container {
    justify-content: space-between;
  }

  .logo {
    margin: 0;
  }

  .main-menu {
    margin: 0 auto;
  }

  .ui-accordion .ui-accordion-content {
    height: 100%;
    max-height: 440px;
  }

  .events__description {
    padding-left: 34px;
    padding-right: 34px;
  }

  .contacts__description {
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer__container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .callback__prompt {
    display: none;
  }

}

@media (max-width: 1200px) {

  /* Header */

  .header__top-container {
    position: relative;
    justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .burger {
    display: block;
    width: 36px;
    height: 28px;
  }

  .burger__icon {
    width: 100%;
    height: 100%;
  }

  .logo {
    width: 188px;
    height: 42px;
    margin-right: 0;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .burger-menu__login {
    margin-top: auto;
  }

  .main-menu {
    display: none;
  }

  .login {
    display: none;
  }

  .header__bottom-container {
    display: none;
  }

  .search-open {
    display: block;
    width: 30px;
    height: 30px;
  }

  .search {
    display: flex;
    position: absolute;
    right: 50px;
    height: 30px;
    background-color: #000;
  }

  .search-form {
    min-width: 261px;
    margin-right: 24px;
  }

  .search-form__submit {
    width: 26px;
    height: 26px;
  }

  .search__close {
    width: 23px;
    height: 23px;
  }

  /* Hero */

  .hero__container {
    padding-top: 110px;
    padding-bottom: 114px;
  }

  .hero__title {
    margin-bottom: 15px;
  }

  .hero__description {
    max-width: 661px;
    margin-bottom: 132px;
  }

  .hero__slide:nth-child(1) {
    background-image: url('../img/hero-bg-1-1024.png');
  }

  .hero__slide:nth-child(2) {
    background-image: url('../img/hero-bg-2-1024.png');
  }

  .hero__slide:nth-child(3) {
    background-image: url('../img/hero-bg-3-1024.png');
  }

  /* Gallery */

  .gallery__panel {
    width: 32%;
  }

  .gallery__ages {
    margin-bottom: 38px;
  }

  .gallery__swiper {
    width: 68%;
  }

  .gallery__swiper .gallery__wrapper {
    height: 315px;
  }

  .gallery__slide {
    width: calc((100% - 34) / 2);
  }

  /* Catalogue */

  .ui-accordion .ui-accordion-content {
    min-height: auto;
    max-height: 433px;
  }

  .painter-detail {
    width: calc((100% - 50px) / 2);
    min-width: 437px;
  }

  .accordion__btn {
    padding-top: 31px;
  }

    /* Events */

  .events {
    margin-bottom: 75px;
  }

  .events__btn {
    display: none;
  }

  .events__swiper {
    width: 100%;
  }

  .events__swiper .swiper-wrapper {
    margin-bottom: 24px;
  }

  .pagination-wrapper {
    display: block;
  }

  .events__cover {
    height: 200px;
  }

  .events__img {
    height: 200px;
  }

  .events__content {
    padding: 14px 34px 56px 34px;
  }

  .events__location {
    align-self: end;
    text-align: right;
    margin-bottom: 4px;
  }

  .events__title {
    margin-bottom: 5px;
  }

  .events__prompt {
    margin-bottom: 26px;
  }


  /* Project */

  .projects__title {
    margin-bottom: 19px;
  }

  .partners__swiper {
    max-width: 818px;
  }

  .partners__link {
    height: 128px;
  }

  .freelands {
    padding: 38px 87px;
  }

  .ica {
    padding: 40px 50px;
  }

  .workhouse {
    padding: 37px 77px;
  }

  .wine1849 {
    padding: 34px 139px;
  }

  .hisox {
    padding: 27px 117px;
  }

  .camden {
    padding: 34px 84px;
  }

  .stassen {
    padding: 34px 69px;
  }

  .watts {
    padding: 29px 112px;
  }

  .esacm {
    padding: 37px 93px;
  }

  /* Contacts */

  .contacts__description {
    flex-direction: column;
    align-items: flex-start;
    padding: 43px 50px;
  }

  .contacts__location {
    margin: 0;
    margin-bottom: 32px;
  }

  .callback {
    width: 100%;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 30px;
  }

  .callback__input {
    min-width: 270px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .callback__btn {
    padding: 12px 40px;
  }

  .social__title {
    font-weight: 600;
  }

  .callback__prompt {
    display: inline;
  }

  /* Footer */

  .footer__container {
    padding: 40px 50px;
  }

  .footer__item:not(:last-child) {
    margin-right: 30px;
  }

  .footer__link {
    width: 60px;
    height: 60px;
  }

  .footer__link svg {
    width: 60px;
    height: 60px;
  }

  /* Modal */

  .modal__content {
    width: 594px;
    max-height: 594px;
  }

  .modal__img {
    width: 264px;
  }

  .modal__info {
    width: 330px;
    padding: 122px 50px 90px 50px;
  }

}

@media (max-width: 1022px) {

  .header {
    position: relative;
  }

  .search-open, .search-form__submit, .search__close {
    width: 27px;
    height: 27px;
  }

  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 36px 50px;
    background-color: #000;
  }

  .search-form {
    position: relative;
    background-color: transparent;
    max-width: 100%;
    width: calc(100% - 52px);
  }

  .search-form__field {
    max-width: 100%;
    width: 100%;
  }

  /* Hero */

  .hero__slide:nth-child(1) {
    background-image: url('../img/hero-bg-1-768.png');
  }

  .hero__slide:nth-child(2) {
    background-image: url('../img/hero-bg-2-768.png');
  }

  .hero__slide:nth-child(3) {
    background-image: url('../img/hero-bg-3-768.png');
  }

  /* Gallery */

  .gallery__container {
    flex-direction: column;
  }

  .gallery__panel {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  .gallery__ages {
    margin-bottom: 0;
  }

  .gallery__choice {
    width: 42%;
    margin-bottom: 40px;
  }

  .choices__list--dropdown {
    background-color: rgba(0, 0, 0, .9);
  }

  .gallery__swiper {
    width: 100%;
    padding: 0;
  }

  .gallery__swiper .gallery__wrapper {
    height: 330px;
  }

  /* Catalogue */

  .catalogue {
    margin-bottom: 70px;
  }

  .catalogue__description {
    margin-bottom: 22px;
  }

  .catalogue__body {
    flex-direction: column-reverse;
  }

  .catalogue__ages {
    width: 100%;
  }

  .painter-detail {
    padding-top: 50px;
    width: 100%;
  }

  .ui-accordion .ui-accordion-content {
    max-height: 339px;
  }

  .painter__item {
    margin-right: 56px;
  }

  /* Events */

  .events__main-title {
    margin-bottom: 15px;
  }

  .events__swiper .swiper-slide {
    max-width: calc((100% - 34px) / 2);
    width: calc((100% - 34px) / 2);
  }

  .events__content {
    padding-bottom: 54px;
  }

  .events__prompt {
    margin-bottom: 30px;
  }

  /* Projects */

  .projects__description {
    margin-bottom: 27px;
  }

  .partners__header {
    margin-bottom: 29px;
  }

  .partners__swiper {
    padding: 0 23px;
  }

  .partners__link {
    height: 106px;
  }

  .freelands {
    padding: 27px;
  }

  .ica {
    padding: 34px 23px;
  }

  .workhouse {
    padding: 31px 34px;
  }

  .wine1849 {
    padding: 22px 80px;
  }

  .hisox {
    padding: 24px 71px;
  }

  .camden {
    padding: 29px 44px;
  }

  .stassen {
    padding: 29px 35px;
  }

  .watts {
    padding: 22px 60px;
  }

  .esacm {
    padding: 29px 41px;
  }

  /* Contact */

  .callback {
    flex-wrap: wrap;
  }

  .input-wrapper {
    max-width: 100%;
    width: calc((100% - 20px) / 2);
    min-width: 323px;
  }

  .callback__input {
    width: 100%;
    max-width: 100%;
    margin-bottom: 12px;
  }

  .callback__btn {
    padding-left: 29.5px;
    padding-right: 29.5px;
    width: auto;
  }

    /* Modal */

    .modal__content {
      width: 668px;
    }

    .modal__img {
      width: 301px;
    }

    .modal__info {
      width: 367px;
      padding: 122px 36px 122px 50px;
    }

}

@media (max-width: 765px) {

  .ui-accordion .ui-accordion-content {
    height: 100%;
    max-height: 100%;
  }

}

@media (max-width: 620px) {

  /* Common */

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
  }

  .section-description {
    font-size: 14px;
    line-height: 28px;
  }

  /* Header  */

  .header {
    min-height: 355px;
    margin-bottom: 50px;
  }

  .header__top-container {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .search-open {
    width: 18px;
    height: 18px;
  }

  .burger {
    width: 25px;
    height: 18px;
  }

  .logo {
    width: 97px;
    height: 22px;
  }

  .search {
    height: 75px;
    z-index: 15;
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 42px 64px 19px 64px;
  }

  .search-form__submit {
    width: 14px;
    height: 14px;
  }

  .search__close {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 12px;
    right: 15px;
  }

  .search-form {
    display: flex;
    align-items: flex-end;
    min-width: auto;
  }

  .search-form__field {
    width: 100%;
  }

  .burger-menu__close {
    width: 15px;
    height: 15px;
  }

  .burger-menu {
    padding-left: 15px;
    padding-bottom: 27px;
    height: 600px;
  }

  .burger-menu__title {
    padding-top: 12px;
  }

  .burger-menu__items {
    margin-bottom: 18px;
  }

  .burger-menu__item {
    font-size: 16px;
    line-height: 1;
  }

  .burger-menu__item:not(:last-child) {
    margin-bottom: 18px;
  }

  .burger-menu__login {
    padding: 10px 31px;
    font-size: 12px;
    line-height: 16px;
  }

  .burger-menu__login .login-img {
    width: 9px;
    height: 9px;
    margin-right: 4px;
  }

  /* Hero */

  .hero__container {
    padding-top: 32px;
    padding-bottom: 45px;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 13px;
  }

  .hero__description {
    max-width: calc(100% - 25px);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
  }

  .hero__btn {
    padding: 10px 18px;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__slide:nth-child(1) {
    background-image: url('../img/hero-bg-1-320.png');
  }

  .hero__slide:nth-child(2) {
    background-image: url('../img/hero-bg-2-320.png');
  }

  .hero__slide:nth-child(3) {
    background-image: url('../img/hero-bg-3-320.png');
  }

  /* About */

  .about {
    margin-bottom: 41px;
  }

  .about__container {
    margin-bottom: 30px;
  }

  /* Gallery */

  .gallery {
    margin-bottom: 50px;
  }

  .gallery__container {
    padding-top: 50px;
    padding-bottom: 43px;
    flex-direction: column;
  }

  .gallery__panel {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  .gallery__title {
    margin-bottom: 18px;
  }

  .filter-label {
    margin-bottom: 12px;
  }

  .gallery__choice {
    width: 100%;
    margin-bottom: 30px;
  }

  .gallery__swiper {
    margin-bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .gallery__btns {
    margin-bottom: 0;
  }

  .gallery__wrapper {
    margin-bottom: 15px;
  }

  .gallery__swiper .gallery__wrapper {
    height: 367px;
  }

  /* Catalogue */

  .catalogue {
    margin-bottom: 50px;
  }

  .catalogue__description {
    display: none;
  }

  .painter-detail {
    min-width: auto;
    margin-right: 0;
  }

  .painter-detail__img {
    margin-bottom: 15px;
  }

  .accordion__btn svg {
    width: 30px;
    height: 30px;
  }

  .accordion__btn {
    padding-top: 23px;
    padding-bottom: 17px;
  }

  .title-text {
    font-family: 'OpenSans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  .ui-accordion .ui-accordion-content {
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 100%;
  }

  .ui-widget button {
    line-height: 1;
  }

  .ui-accordion .ui-accordion-content {
    height: 100%;
    max-height: 100%;
  }

  .catalogue__ages {
    margin-bottom: 0;
  }

  .painter__item {
    font-size: 16px;
    line-height: 32px;
    margin-right: auto;
  }

  .painter-detail {
    padding-top: 50px;
  }

  .painter-detail__name {
    margin-bottom: 5px;
  }

  .painter-detail__description {
    font-size: 16px;
    line-height: 32px;
  }

  /* Events */

  .events {
    margin-bottom: 47px;
  }

  .events__swiper .swiper-wrapper {
    width: 100%;
    margin-bottom: 15px;
  }

  .events__swiper .swiper-slide {
    width: 100%;
    max-width: 100%;
  }

  .events__content {
    padding: 17px 18px 55px 23px;
  }

  .events__location {
    margin-bottom: 10px;
  }

  .events__description {
    max-width: 100%;
  }

  .events__prompt {
    margin-bottom: 22px;
  }

  .link-box {
    margin-left: 3px;
  }


  /* Projects */

  .projects {
    margin-bottom: 50px;
  }

  .projects__description {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 9px;
  }

  .partners__header {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .partners__swiper {
    padding-left: 17px;
    padding-right: 17px;
    max-width: calc(100% - 60px);
  }

  .partners__link {
    max-width: 100%;
    height: 65px;
  }

  .partners__img {
    width: auto;
  }

  .freelands {
    padding: 19px 45px;
  }

  .ica {
    padding: 20px 27px;
  }

  .workhouse {
    padding: 19px 39px;
  }

  .wine1849 {
    padding: 17px 70px;
  }

  .hisox {
    padding: 14px 60px;
  }

  .camden {
    padding: 17px 43px;
  }

  .stassen {
    padding: 17px 35px;
  }

  .watts {
    padding: 15px 57px;
  }

  .esacm {
    padding: 19px 48px;
  }

  /* Contacts */

  .contacts__description {
    padding: 0 15px 20px 15px;
    border: none;
  }

  .contacts__location {
    margin-bottom: 13px;
  }

  .contacts__title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0;
  }

  .contacts__address {
    font-size: 14px;
    line-height: 19px;
  }

  .callback {
    margin-bottom: 18px;
  }

  .input-wrapper {
    margin: 0;
    width: 100%;
    min-width: 0;
    margin-bottom: 18px;
  }

  .callback__input {
    min-width: auto;
    width: 100%;
    max-width: 100%;
    padding-left: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0;
  }

  .callback__btn {
    padding: 11px 33px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
  }

  .callback__prompt {
    display: none;
  }

  .social__title {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .social__item {
    width: 50px;
    height: 50px;
  }

  .social__item svg {
    width: 50px;
    height: 50px;
  }

  .contacts__map {
    height: 320px;
  }

  /* Footer */

  .footer__container {
    padding: 20px 55px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__list {
    margin-bottom: 17px;
  }

  .footer__item:not(:last-child) {
    margin-right: 30px;
  }

  .footer__link svg {
    width: 50px;
    height: 50px;
  }

  .footer__logo {
    width: 97px;
    height: 22px;
  }

    /* Modal */

    .modal__content {
      width: 290px;
      max-height: 600px;
      flex-direction: column;
      justify-content: space-between;
    }

    .modal__img {
      width: 100%;
      height: 200px;
    }

    .modal__info {
      width: 100%;
      height: 400px;
      padding: 26px 20px;
    }

}

@media (max-width: 450px) {

  .hero__title {
    font-size: 32px;
  }

  .hero__description {
    font-size: 12px;
    line-height: 16px;
  }

}
